<div class="row">
  <div class="booking-section">
    <button
      id="viewBooking"
      class="btn btn-danger"
      data-bs-target="#viewmodal"
      data-bs-toggle="modal"
      
      style="background-color: orangered; border: none"
    >
      View Booking
    </button>
    <button
      id="viewBooking"
      class="btn btn-primary"
      data-bs-target="#exampleModal"
      data-bs-toggle="modal"
      style="margin-left: 5px; background-color: orangered; border: none"
    >
      Book a meal
    </button>
    <button
      id="viewBooking"
      class="btn btn-danger"
      style="margin-left: 5px; background-color: orangered; border: none"
      (click)="cancalBooking()"
    >
      Cancel Booking
    </button>

    <mat-card class="demo-inline-calendar-card mt-4">
      <mat-calendar
        [(selected)]="selected"
  
        [dateClass]="dateClassV2()"
        [dateFilter]="disablePastDatesFilter"
        (selectedChange)="onDateSelected($event)" [(ngModel)]="selectedStartDate"
      ></mat-calendar>
    </mat-card>
  </div>
</div>
<div class="menu">
  <div class="bgMenu">
   
      
        <div class="d-flex px-3 lunch">
          <div>
            <h1 class="px-4">Lunch</h1>
            <ul>
              <li *ngFor="let item of menu?.lunch">{{ item }}</li>
            </ul>
          </div>
          <div class="px-4">
            <h1 class="dinner">Dinner</h1>
            <ul class="dinner">
              <li *ngFor="let item of menu?.dinner">{{ item }}</li>
            </ul>
          </div>
        </div>
     
  
  </div>

</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="modal-title" id="exampleModalLabel">
          <span style="font-size: 20px; font-weight: 500">Book your meal</span
          ><br />
          <span style="font-size: 30px; padding-top: 10px; font-weight: 700"
            >New Booking</span
          ><br />
          <span
            ><mat-icon style="color: brown; padding-top: 3px"
              >location_on</mat-icon
            >Vadodara</span
          >
        </p>
        <div class="form-group">
          <label
            for="recipient-name"
            class="col-form-label"
            style="font-size: large; font-weight: 200px"
            >Booking type</label
          ><br />
          <input
            type="radio"
            value="Lunch"
            style="vertical-align: middle"
            name="recipient-name"
            [(ngModel)]="booking.booking_Type"
          />
          <label
            for="recipient-name"
            class="col-form-label"
            style="padding-left: 2px"
            >Lunch</label
          >
          <input
            type="radio"
            value="Dinner"
            style="margin-left: 10px; vertical-align: middle"
            name="recipient-name"
            [(ngModel)]="booking.booking_Type"
          />
          <label
            for="recipient-name"
            class="col-form-label"
            style="padding-left: 2px"
            >Dinner</label
          >
        </div>
        <div class="form-group">
          <label
            for="recipient-name"
            class="col-form-label"
            style="font-size: large; font-weight: 200px"
            >Select Days</label
          ><br />
          <label
            for="recipient-name"
            class="col-form-label"
            style="font-size: large; font-weight: 200px"
            >Start Date</label
          ><br />
          <input
            type="date"
            style="
              height: 35px;
              background-color: aliceblue;
              border: 1px solid transparent;
              width: 100%;
            "
            placeholder="Enter a date range"
            [(ngModel)]="booking.start_Date"
          />
          <label
            for="recipient-name"
            class="col-form-label"
            style="font-size: large; font-weight: 200px"
            >End Date</label
          ><br />
          <input
            type="date"
            style="
              height: 35px;
              background-color: aliceblue;
              border: 1px solid transparent;
              width: 100%;
            "
            placeholder="Enter a date range"
            [(ngModel)]="booking.end_Date"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="closebtn"
          type="button"
          class="btn btn-primary"
          style="width: 100%; background-color: orangered; border: none"
          (click)="onSubmit()"
        >
          Book
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="viewmodal"
  tabindex="-1"
  aria-labelledby="viewmodallabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="viewmodallabel">View Booking</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Select Date</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            [(ngModel)]="selectedStartDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker [dateClass]="dateClassV2()"></mat-datepicker> </mat-form-field
        ><br />

        <div *ngIf="qrData" style="display:flex ; justify-content: center; align-items: center;">
          <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'" style="align-items: center;"></qrcode>
        </div>

        <button
          mat-raised-button
          style="
            margin-top: 10%;
            width: 100%;
            background-color: orangered;
            color: white;
          "
          (click)="generateAndFetchCoupons()"
        >
          Redeem Coupons
        </button>
      </div>
    </div>
  </div>
</div>
