<div>
    <img id="aboutimg" src="assets\images\img3.jpeg" alt="Rishabh Software">
  </div>
  
  <div id="divaboutus">
    <h1 id="h1aboutus">About Us</h1>
    <p id="paraabout">Rishabh Software was founded in the year 2000 by Mr. & Mrs. 
        <br>Raju Shah with a simple thought of delivering exceptional value to 
        <br>global customers. From the start, the vision was clear – to empower  
        <br>businesses with world-class software solutions.They did this by tapping 
        <br>into local talent in their home state of Gujarat by building a platform 
        <br>for budding software developers to grow and nurture their careers.At Rishabh,
        <br>we not only provide your business with exceptional enterprise-grade 
        <br>applications but go above and beyond. With 1200+ successful projects and a
        <br>process-driven mindset, we’ve got your back. Our repeat clientele speaks
        <br>volumes for our values and ethics in all our dealings – be it software
        <br>development across web, mobile, analytics, cloud, or through our engineering
        <br>and BPO services.We believe in doing the best for our clients because WE CARE.
    </p>
    <img id="leadersimg" src="assets\images\Riseleaderproj.png" alt="Rise Leaders">
  </div>

